<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="$title"></title>
</head>
<body>
       <section>
              <div class="container">
                  <div class="card">
                       <div class="card-body text-center">
                            <img style="height:300px;width:400px;" class="user_pic" src="" th:src="@{'/img/'+${user.imageUrl}}"></img>
                            <h3 th:text="${user.name}" ></h3>
                     <table class="table">
						 
						    <tr>
						      <th scope="col">Id</th>
						       <th th:text="${user.id}" ></th>
						    </tr>
						    
						     <tr>
						       <th >Email</th>
						       <th th:text="${user.email}" ></th>
						    </tr>
						    
						     <tr>
						       <th >Role</th>
						       <th th:text="${user.role}" ></th>
						    </tr>
						     <tr>
						       <th >About</th>
						       <th th:text="${user.about}" ></th>
						    </tr>
						     <tr>
						       <th >Active </th>
						       <th th:text="${user.enabled}" ></th>
						    </tr>
						    
						 <!--  <tbody>
						    <tr>
						     
						      <td>Mark</td>
						      <td>Otto</td>
						      <td>@mdo</td>
						    </tr>
						   
						  </tbody> -->
						</table>
						
                       
                       
                       
                       
                       
                       
                       </div>
                   
                  
                  </div>
              
              
              
              </div>
       </section>
</body>
</html>