<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
      <section>
          <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                      <div class="card mt-5 ">
                            <div class="card-body ">
                                  <h3>Update Contact Form</h3>
                                  <form th:action="@{/user/processUpdateContact}" 
                                  th:object="${contact}" 
                                  method="post"
                                  enctype="multipart/form-data">
	                                     <div class="input-group ">
									        <div class="input-group-prepend">
									               <div class="input-group-text">
									                   <i class="fa fa-plus"></i>
									               </div>
									        </div>
									        <input type="hidden" name="cId" th:value="${contact.cId}">
									        <input type="text" class="form-control" 
									             id="name"  name="name"
									             th:value="${contact.name}"
									              placeholder="Enter Name">
								      </div>
                                      <div class="input-group mt-3">
									        <div class="input-group-prepend">
									               <div class="input-group-text">
									                   <i class="fa fa-user"></i>
									               </div>
									        </div>
									        <input type="text" class="form-control" 
									             id="secondName"  th:value="${contact.secondName}"
									             name="secondName" placeholder="Enter Nick Name">
								      </div>
								      
								      <div class="input-group mt-3">
									        <div class="input-group-prepend">
									               <div class="input-group-text">
									                   <i class="fa fa-user"></i>
									               </div>
									        </div>
									        <input type="email" class="form-control" 
									             id="email" th:value="${contact.email}"
									             name="email" placeholder="Enter Email">
								      </div>
								      
								      <div class="input-group mt-3">
									        <div class="input-group-prepend">
									               <div class="input-group-text">
									                   <i class="fa fa-phone"></i>
									               </div>
									        </div>
									        <input type="number" class="form-control" 
									             id="phone" th:value="${contact.phone}"
									             name="phone" placeholder="Enter Phone">
								      </div>
								      
								      <div class="input-group mt-3">
									        <div class="input-group-prepend">
									               <div class="input-group-text">
									                   <i class="fa fa-user"></i>
									               </div>
									        </div>
									        <input type="text" class="form-control" 
									             id="work" th:value="${contact.work}" 
									             name="work" placeholder="Enter Work">
								      </div>
								      
								      <div class="form-group mt-3">
									   
									    <textarea placeholder="Contact Description..."
									    th:text="${contact.description}"
									    rows="5" id="description" name="description" class="form-control"> 
									    </textarea>
									    
									  </div>
									  <div class="container text-center">
									    <img style="height:200px;width:200px;" class="profile_pic_update" th:src="@{'/img/'+${contact.image}}" alt="profile photo"></img>
									    <p class="text-secondary ">Choose another pic to update</p>
									  </div>
									  <div class="custom-file">
									     <input type="file" name="profileImage">
 									  </div>
 									  <div class="container text-center">
 									    <button type="submit" class="btn btn-primary">Save Contact</button>
 									  </div>
									  
								      
                                  </form>
                                
                            
                            </div><!-- end of card body -->
                      
                      </div><!-- end of card -->
                </div><!-- end of col -->
            
            </div> <!-- end of row -->
         </div>
              
      
      </section>
</body>
</html>