<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
  <section>
        <div class="container">
              <div class="card mt-3">
                 <div class="card-body text-center">
                  <div>
                   <img class="contact_logo" style="height:400px;width:400px;" th:src="@{/img/default.png}"></img>
                  </div>
                   <h3 class="font-italic text-secondary mb-3">You can add your contacts here!!!</h3>
                   <a th:href="@{/user/add_contact_form}" class="btn btn-primary btn-lg">Add Contact</a>
                 </div>
              </div>
        </div>
  </section>

</body>
</html>