<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
  <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h3>Smart Contact Manager </h3>
            <p>We provide very efficient and smarter way of handling contacts</p>
            <button type="button" class="btn btn-primary">Get Started</button>
        </div>
        
  </section>

</body>
</html>